#changePassword{
	clear: both; 
	float: left; 
	width: 40%;
	margin-left: 30%;
	font-size: 1vw;
	border: solid 2px black;
	background-color: #DDD;
	padding-bottom: 20px;
	padding-top: 20px;
}
#changePassword label{
	width: 80%;
	padding: 5%;
	display: inline-block;
}
#changePassword label input{
	float: right;
	width: 50%;
	font-size: 1vw;
}
#changePassword button{
	margin-right: 5%;
	margin-top: 3%;
	float: right;
	width: 30%;
	height: auto;
	font-size: 20px;
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 4px;
	border: solid 2px #00994d;
}