{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Personal Info</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <script src="https://kit.fontawesome.com/f4dcd45d8c.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>

<div class="row">
    <div class="col-3">
        <div class="header">
            <h1 style="font-weight: bold;margin-bottom: -5%; margin-top: -4%;">OMOS</h1>
        </div>
    </div>

    <div class="col-7">
    </div>

    <div class="col-2">
        <i class="fab fa-facebook" style="font-size:30px; margin-right: 5%; margin-left: 15%"></i>
        <i class="fab fa-twitter" style="font-size:30px; margin-right: 5%"></i>
        <i class="fab fa-instagram" style="font-size:30px;"></i>
    </div>

</div>

<div class="row">
    <div class="col-12">

        <div class="topnav">
            <div class="row">
                <div class="col-3">
                    <a class="active" href="{% url 'home' %}">Home</a>
                    <a href="#about">About</a>
                    <a href="#contact">Contact</a>
                </div>
                <div class="col-6">
                    <form method="post" action="search">
                        {% csrf_token %}
                        <input type="text" placeholder="Search restaurant or market..." name="searchvalue"
                               id="searchbar">
                    </form>
                </div>
                <div class="col-3">
                    <div class="dropdown" style=" margin-left: 10%;">
                        <button class="dropbtn" style="width: 150%; ">Login</button>
                        <div class="dropdown-content">
                            {% for navigationcontent in navigationcontents %}
                                <a href="{% url navigationcontent.path %}">{{ navigationcontent.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <a href="{% url 'chart' %}" style="float: right; margin-top: -1%;">
                        <i class="fas fa-shopping-cart" style="font-size:36px; float: right;"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="info">
    <form method="get">
        <div id="personalInfo">
            <h4 style=" border-bottom-style: groove; font-weight: bold; margin-bottom: 5%;">Personal Info</h4>
            <form method="POST">
            <label>Name
                <input class="values" type="text" name="name" required="required">
            </label>
            <label>Surname
                <input class="values" type="text" name="surname" required="required">
            </label>
            <label style="margin-bottom: 5%; margin-top: 6%;">
                Gender
                <select name="genders" style="font-size: 25px; width: 30%; margin-left: 25%;">
                    <option value="male" >Male</option>
                    <option value="female">Female</option>
                </select>
            </label>
            <label>
                Age
                <input type="number" name="quantity" min="18" max="99">
            </label>
            <label>Phone
                <input class="values" type="tel" name="phone" required="required">
            </label>
            <label>E-Mail
                <input class="values" type="email" name="email" required="required">
            </label>
            <label style="margin-top: 6%;">Country
                <input class="values" type="text" name="country" required="required">
            </label>
            <label>City
                <input class="values" type="text" name="city" required="required">
            </label>
            <label>Adress
                <textarea class="values" required="required" name="address"
                          style="width: 75%; margin-left: 40%; margin-right: 0px; margin-top: -20px; "></textarea>
            </label>
            <div style="clear: both;"></div>
            <button id="saveButton" type="submit" style="width: 50%; margin-top: 3%;">Save</button>
            </form>
</div>

<div id="bottom">
    <div class="row">
        <div class="col-12" style="border-top-style: groove;  margin-top: 5%; background-color: #717171;">
            <div class="row">
                <div class="col-2">
                    <select class="w3-select w3-border" name="option">
                        <option value="1">Turkish Lira ₺</option>
                        <option value="2">Dollar $</option>
                        <option value="3">Euro €</option>
                    </select>
                </div>
                <div class="col-8">
                </div>
                <div class="col-2">
                    <a href="index.html" style="color: initial;">
                        <h4 style="color: white; float:right; margin-top: -3%;">HELP & CONTACT</h4></a>
                    <h5 style="color: white; float: right; margin-right: 10%; margin-top: -3%;">0850-255-4040</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-8">
                    <h6 style="text-align: center; margin-bottom: -20px;">© Copyright 2019 Online Ordering and Marketing
                        System Inc. All rights are reserverd.</h6></a>
                </div>
                <div class="col-2">
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>