{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Personal Info</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <script src="https://kit.fontawesome.com/f4dcd45d8c.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>

<div class="row">
    <div class="col-3">
        <div class="header">
            <h1 style="font-weight: bold;margin-bottom: -5%; margin-top: -4%;">OMOS</h1>
        </div>
    </div>

    <div class="col-7">
    </div>

    <div class="col-2">
        <i class="fab fa-facebook" style="font-size:30px; margin-right: 5%; margin-left: 15%"></i>
        <i class="fab fa-twitter" style="font-size:30px; margin-right: 5%"></i>
        <i class="fab fa-instagram" style="font-size:30px;"></i>
    </div>

</div>

<div class="row">
    <div class="col-12">

        <div class="topnav">
            <div class="row">
                <div class="col-3">
                    <a class="active" href="{% url 'home' %}">Home</a>
                    <a href="#about">About</a>
                    <a href="#contact">Contact</a>
                </div>
                <div class="col-6">
                    <input type="text" placeholder="Search restaurant or market...">
                </div>
                <div class="col-3">
                    <div class="dropdown" style=" margin-left: 10%;">
                        <button class="dropbtn" style="width: 150%; ">Login</button>
                        <div class="dropdown-content">
                            <a href="{% url 'myprofile' %}">My Profile</a>
                            <a href="#">My Comments</a>
                            <a href="#">Our Policy</a>
                            <a href="{% url 'home' %}">Exit</a>
                        </div>
                    </div>
                    <a href="{% url 'chart' %}" style="float: right; margin-top: -1%;">
                        <i class="fas fa-shopping-cart" style="font-size:36px; float: right;"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


	<div id="info">
		<form method="get">
			<div id="personalInfo">
				<h4 style="margin-bottom: 5%;">Personal Info</h4>
				<label>Name-Surname
					<input class="values" type="text" name="name" required="required" disabled="disabled" value="Ali Veli">
				</label>
				<label>
					<label>
						Male<input class="values" type="radio" name="gender" value="male" checked="checked" disabled="disabled">
					</label>
					<label>
						Female<input class="values" type="radio" name="gender" value="female" disabled="disabled">
					</label>
				</label>
				<label>
					Age
					<select class="age values" disabled="disabled">
						<option disabled="disabled">
							-
						</option>
						<option>
							22
						</option>
						<option>
							23
						</option>
						<option>
							24
						</option>
						<option selected="selected">
							25
						</option>
					</select>
				</label>
				<label>Phone
					<input class="values" type="tel" name="phone" pattern="[0-9]{4}-[0-9]{3}-[0-9]{4}" required="required" value="0533-333-3333"  disabled="disabled">
				</label>
				<label>E-Mail
					<input class="values" type="email" name="email" required="required" value="ali.veli@example.com"  disabled="disabled" >
				</label>
				<label>Adress
					<textarea class="values" disabled="disabled" required="required">Işık Üniversitesi Şile/İstanbul</textarea>
				</label>
				<div style="clear: both;"></div>
				<button id="saveEditButton" onclick="myFunc(event)">Edit</button>
			</form>
		</div>
		<div id="bottom">
			<div class ="row">
				<div class="col-12" style="border-top-style: groove;  margin-top: 5%; background-color: #717171;">
					<div class ="row">
						<div class="col-2">
							<select class="w3-select w3-border" name="option">
								<option value="1">Turkish Lira ₺</option>
								<option value="2">Dollar $</option>
								<option value="3">Euro €</option>
							</select>
						</div>
						<div class="col-8">
						</div>
						<div class="col-2">
							<a href="index.html" style="color: initial;">
								<h4 style = "color: white; float:right; margin-top: -3%;">HELP & CONTACT</h4></a>
								<h5 style = "color: white; float: right; margin-right: 10%; margin-top: -3%;">0850-255-4040</h5>
							</div>
						</div>

						<div class="row">
							<div class = "col-2">
							</div>
							<div class="col-8">
								<h6 style="text-align: center; margin-bottom: -20px;">© Copyright 2019 Online Ordering and Marketing System Inc. All rights are reserverd.</h6></a>
							</div>
							<div class="col-2">
							</div>
						</div>

					</div>
				</div>
			</div>
		</body>
		</html>