{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>My Chart</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://kit.fontawesome.com/f4dcd45d8c.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>

<div class="row">
    <div class="col-3">
        <div class="header">
            <h1 style="font-weight: bold;margin-bottom: -5%; margin-top: -4%;">OMOS</h1>
        </div>
    </div>

    <div class="col-7">
    </div>

    <div class="col-2">
        <i class="fab fa-facebook" style="font-size:30px; margin-right: 5%; margin-left: 15%"></i>
        <i class="fab fa-twitter" style="font-size:30px; margin-right: 5%"></i>
        <i class="fab fa-instagram" style="font-size:30px;"></i>
    </div>

</div>

<div class="row">
    <div class="col-12">

        <div class="topnav">
            <div class="row">
                <div class="col-3">
                    <a class="active" href="{% url 'home' %}">Home</a>
                    <a href="#about">About</a>
                    <a href="#contact">Contact</a>
                </div>
                <div class="col-6">
                    <input type="text" placeholder="Search restaurant or market...">
                </div>
                <div class="col-3">
                    <div class="dropdown" style=" margin-left: 10%;">
                        <button class="dropbtn" style="width: 150%; ">Login</button>
                        <div class="dropdown-content">
                            <a href="{% url 'myprofile' %}">My Profile</a>
                            <a href="#">My Comments</a>
                            <a href="#">Our Policy</a>
                            <a href="{% url 'home' %}">Exit</a>
                        </div>
                    </div>
                    <a href="{% url 'chart' %}" style="float: right; margin-top: -1%;">
                        <i class="fas fa-shopping-cart" style="font-size:36px; float: right;"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 w3-container w3-card-4 w3-light-grey" style="width: 98%; margin-left: 1%;">
        <div class="row">
            <div class="col-12">
                <h3 style="border-bottom-style: groove; font-weight: bold;">MY CHART</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <h4>Photo</h4>
            </div>
            <div class="col-2">
                <h4>Product</h4>
            </div>
            <div class="col-2">
                <h4>Amount</h4>
            </div>
            <div class="col-2">
                <h4>Cost</h4>
            </div>
            <div class="col-4">
            </div>
        </div>

        <div class="row" style="border-bottom-style: groove;">
            <div class="col-2">
                <img src="{% static 'images/erikli5.jpg' %}" class="w3-border w3-padding" alt="Alps" style="height: 150px; width: 150px;">
            </div>
            <div class="col-2">
                <h5>Erikli Su</h5>
            </div>
            <div class="col-2">
                <form>
                <input type="number" name="quantity" min="1" max="99" value="1">
                </form>
            </div>
            <div class="col-2">
                <h4>6.00 TL</h4>
            </div>
            <div class="col-2">
                <a class="w3-btn w3-black">Cancel</a>
            </div>
            <div class="col-2">
            </div>
        </div>
        <div class="row" style="border-bottom-style: groove;">
            <div class="col-2">
                <img src="{% static 'images/headshoulders1.jpg' %}" class="w3-border w3-padding" alt="Alps" style="height: 150px; width: 150px;">
            </div>
            <div class="col-2">
                <h5>Head & Shoulders Şampuan Klasik</h5>
            </div>
            <div class="col-2">
                <form>
                    <input type="number" name="quantity" min="1" max="99" value="1">
                </form>
            </div>
            <div class="col-2">
                <h4>26.00 TL</h4>
            </div>
            <div class="col-2">
                <a class="w3-btn w3-black">Cancel</a>
            </div>
            <div class="col-2">
            </div>
        </div>
        <div class="row" style="border-bottom-style: groove;">
            <div class="col-2">
                <img src="{% static 'images/dovesabun3.jpg' %}" class="w3-border w3-padding" alt="Alps" style="height: 150px; width: 150px;">
            </div>
            <div class="col-2">
                <h5>Dove Katı El Sabunu 100ml 4'lü Paket</h5>
            </div>
            <div class="col-2">
                <form>
                    <input type="number" name="quantity" min="1" max="99" value="1">
                </form>
            </div>
            <div class="col-2">
                <h4>24.00 TL</h4>
            </div>
            <div class="col-2">
                <a class="w3-btn w3-black">Cancel</a>
            </div>
            <div class="col-2">
            </div>
        </div>

        <div class="row">
            <div class="col-8">

            </div>
            <div class="col-2">
                <h4 style="float: right;">Total Cost: 56.00 TL </h4>
            </div>
            <div class="col-2">
                <input type="button" class="w3-btn w3-red" value="Go to the Checkout" style="float: right;">
            </div>

        </div>
    </div>

</div>

<div class ="row">
    <div class="col-12" style="border-top-style: groove;  margin-top: 5%; background-color: #717171;">
        <div class ="row">
            <div class="col-2">
                <select class="w3-select w3-border" name="option">
                    <option value="1">Turkish Lira ₺</option>
                    <option value="2">Dollar $</option>
                    <option value="3">Euro €</option>
                </select>
            </div>
            <div class="col-8">
            </div>
            <div class="col-2">
                <a href="index.html" style="color: initial;">
                    <h4 style = "color: white; float:right; margin-top: -3%;">HELP & CONTACT</h4></a>
                <h5 style = "color: white; float: right; margin-right: 10%; margin-top: -3%;">0850-255-4040</h5>
            </div>
        </div>

        <div class="row">
            <div class = "col-2">
            </div>
            <div class="col-8">
                <h6 style="text-align: center; margin-bottom: -20px;">© Copyright 2019 Online Ordering and Marketing System Inc. All rights are reserverd.</h6></a>
            </div>
            <div class="col-2">
            </div>
        </div>

    </div>
</div>
</body>
</html>