{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Client Info</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://kit.fontawesome.com/f4dcd45d8c.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>

<div class="row">
    <div class="col-3">
        <div class="header">
            <h1 style="font-weight: bold;margin-bottom: -5%; margin-top: -4%;">OMOS</h1>
        </div>
    </div>

    <div class="col-7">
    </div>

    <div class="col-2">
        <i class="fab fa-facebook" style="font-size:30px; margin-right: 5%; margin-left: 15%"></i>
        <i class="fab fa-twitter" style="font-size:30px; margin-right: 5%"></i>
        <i class="fab fa-instagram" style="font-size:30px;"></i>
    </div>

</div>

<div class="row">
    <div class="col-12">

        <div class="topnav">
            <div class="row">
                <div class="col-3">
                    <a class="active" href="{% url 'home' %}">Home</a>
                    <a href="#about">About</a>
                    <a href="#contact">Contact</a>
                </div>
                <div class="col-6">
                    <input type="text" placeholder="Search restaurant or market...">
                </div>
                <div class="col-3">
                    <div class="dropdown" style=" margin-left: 10%;">
                        <button class="dropbtn" style="width: 150%; ">Login</button>
                        <div class="dropdown-content">
                            <a href="{% url 'myprofile' %}">My Profile</a>
                            <a href="#">My Comments</a>
                            <a href="#">Our Policy</a>
                            <a href="{% url 'home' %}">Exit</a>
                        </div>
                    </div>
                    <a href="{% url 'chart' %}" style="float: right; margin-top: -1%;">
                        <i class="fas fa-shopping-cart" style="font-size:36px; float: right;"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 w3-container w3-card-4 w3-light-grey" style="width: 98%; margin-left: 1%;">
        <div class="row">
            <div class="col-12">
                <h3 style="border-bottom-style: groove; font-weight: bold;">CLIENT INFORMATION</h3>
            </div>
        </div>
        <div class="row">
        <div class="col-3">
            <div class="col-2">
                <img src="{% static 'images/pizzahut.png' %}" class="w3-border w3-padding" alt="Alps" style="height: 200px; width: 200px;">
            </div>
        </div>
        <div class="col-3" style="margin-left: -8%;">
            <p>
                <label>Client Name</label>
                <input class="w3-input" type="text" value="Pizzahut Bakırköy Şubesi"></p>
            <p>
                <label>Client Number</label>
                <input class="w3-input" type="text" value="8954347665"></p>
            <p>
                <label>Client Type</label>
                <form>
                <select class="w3-select w3-border" name="option">
                    <option value="1">Chain</option>
                    <option value="2">Ownership</option>
                </select>
                </form>
            </p>
        </div>
        <div class="col-6">
        </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p>
                    <label>Phone Number</label>
                    <input class="w3-input" type="text" value="054387567854"></p>
                <p>
                    <label>Fax Number</label>
                    <input class="w3-input" type="text" value="045498545443"></p>
                <p>
                    <label>Address</label>
                     <p></p>
                    <textarea name="message" rows="7" cols="38" style="margin-top: -3%;">Sinancengiz mah. Kenan cad. Z03 Blok No:1
                    </textarea>
                </p>
            </div>
            <div class="col-3" style="margin-left: 2%;">
                <p>
                    <label>Country</label>
                <form>
                    <select class="w3-select w3-border" name="option">
                        <option value="1">Turkey</option>
                        <option value="2">England</option>
                        <option value="2">France</option>
                        <option value="2">North America</option>
                        <option value="2">Russia</option>
                    </select>
                </form>
                </p>
                <p>
                    <label>City</label>
                <form>
                    <select class="w3-select w3-border" name="option">
                        <option value="1">İstanbul</option>
                        <option value="2">Ankara</option>
                        <option value="2">Bursa</option>
                        <option value="2">İzmir</option>
                        <option value="2">Muğla</option>
                    </select>
                </form>
                </p>
                <p>
                    <label>District</label>
                <form>
                    <select class="w3-select w3-border" name="option">
                        <option value="1">Kadıköy</option>
                        <option value="2">Bahçelievler</option>
                        <option value="2">Beşiktaş</option>
                        <option value="2">Şile</option>
                        <option value="2">Avcılar</option>
                    </select>
                </form>
                </p>
            </div>
            <div class="col-6">
            </div>
        </div>

        <div class="row" style="margin-top: 2%;">
            <input type="button" class="w3-btn w3-teal" value="Save" style="float: left; margin-right: 2%; margin-left: 1%;">
            <input type="button" class="w3-btn w3-teal" value="Cancel" style="float: left; margin-bottom: 2%;">
        </div>
    </div>
</div>

<div class ="row">
    <div class="col-12" style="border-top-style: groove;  margin-top: 5%; background-color: #717171;">
        <div class ="row">
            <div class="col-2">
                <select class="w3-select w3-border" name="option">
                    <option value="1">Turkish Lira ₺</option>
                    <option value="2">Dollar $</option>
                    <option value="3">Euro €</option>
                </select>
            </div>
            <div class="col-8">
            </div>
            <div class="col-2">
                <a href="index.html" style="color: initial;">
                    <h4 style = "color: white; float:right; margin-top: -3%;">HELP & CONTACT</h4></a>
                <h5 style = "color: white; float: right; margin-right: 10%; margin-top: -3%;">0850-255-4040</h5>
            </div>
        </div>

        <div class="row">
            <div class = "col-2">
            </div>
            <div class="col-8">
                <h6 style="text-align: center; margin-bottom: -20px;">© Copyright 2019 Online Ordering and Marketing System Inc. All rights are reserverd.</h6></a>
            </div>
            <div class="col-2">
            </div>
        </div>

    </div>
</div>
</body>
</html>