{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>OMOS - HOME</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://kit.fontawesome.com/f4dcd45d8c.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>

<div class="row">
    <div class="col-3">
        <div class="header">
            <h1 style="font-weight: bold;margin-bottom: -5%; margin-top: -4%;">OMOS</h1>
        </div>
    </div>

    <div class="col-7">
    </div>

    <div class="col-2">
        <i class="fab fa-facebook" style="font-size:30px; margin-right: 5%; margin-left: 15%"></i>
        <i class="fab fa-twitter" style="font-size:30px; margin-right: 5%"></i>
        <i class="fab fa-instagram" style="font-size:30px;"></i>
    </div>

</div>

<div class="row">
    <div class="col-12">

        <div class="topnav">
            <div class="row">
                <div class="col-3">
                    <a class="active" href="{% url 'home' %}">Home</a>
                    <a href="#about">About</a>
                    <a href="#contact">Contact</a>
                </div>
                <div class="col-6">
                    <form method="post" action="search">
                        {% csrf_token %}
                    <input type="text" placeholder="Search restaurant or market..." name="searchvalue" id="searchbar">
                    </form>
                </div>
                <div class="col-3">
                    <div class="dropdown" style=" margin-left: 10%;">
                        <button class="dropbtn" style="width: 150%; ">Login</button>
                        <div class="dropdown-content">
                            {% for navigationcontent in navigationcontents %}
                                <a href="{% url navigationcontent.path %}">{{ navigationcontent.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <a href="{% url 'chart' %}" style="float: right; margin-top: -1%;">
                        <i class="fas fa-shopping-cart" style="font-size:36px; float: right;"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="{% static 'images/burger2.jpg' %}" style="width:100%;">
                <div class="text"></div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="{% static 'images/kasap1.jpg' %}" style="width:100%">
                <div class="text"></div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="{% static 'images/papa2.jpg' %}" style="width:100%">
                <div class="text"></div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 2%; background-color: #C0C0C0; margin-bottom: 1%">

    <div class="col-6">
        <h3 style="margin-left: 120px; color: white;">RESTAURANT</h3>
    </div>
    <div class="col-6">
        <h3 style="margin-left: 10px; color: white; ">MARKET</h3>
    </div>

</div>

<div class="row">

    <div class="col-5" style=" border-style: groove; margin-left: 120px;">

        <div class="row">
            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Pizza">
                <input type="image" src="{% static 'images/pizza.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Pizza</h4>
            </div>
            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Hamburger">
                <input type="image" src="{% static 'images/burger.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Hamburger</h4>
            </div>
            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Coffe">
                <input type="image" src="{% static 'images/coffe.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Coffe</h4>
            </div>
            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Dessert">
                <input type="image" src="{% static 'images/pancakes.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Dessert</h4>
            </div>
            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Fastfood">
                <input type="image" src="{% static 'images/fastfood.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Fastfood</h4>
            </div>
            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Breakfast">
                <input type="image" src="{% static 'images/breakfast.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Breakfast</h4>
            </div>

        </div>

    </div>

    <div class="col-5" style=" border-style: groove; margin-left: 30px;">

        <div class="row">

            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Water">
                <input type="image" src="{% static 'images/waterbottle.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Water</h4>
            </div>
            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Fruit">
                <input type="image" src="{% static 'images/apple.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Fruit</h4>
            </div>
            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Vegetable">
                <input type="image" src="{% static 'images/carrot.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Vegetable</h4>
            </div>
            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Snacks">
                <input type="image" src="{% static 'images/candy.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Snacks</h4>
            </div>
            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Pets">
                <input type="image" src="{% static 'images/dog.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Pets</h4>
            </div>
            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Cosmetic">
                <input type="image" src="{% static 'images/cosmetic.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Cosmetic</h4>
            </div>

        </div>

    </div>


</div>

<div class="row">

    <div class="col-5" style=" border-style: groove; margin-left: 120px;">

        <div class="row">

            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Steak">
                <input type="image" src="{% static 'images/steak2.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Steak</h4>
            </div>
            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Kebab">
                <input type="image" src="{% static 'images/kebab.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Kebab</h4>
            </div>
            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Chinese">
                <input type="image" src="{% static 'images/chinese.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Chinese</h4>
            </div>
            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Fish">
                <input type="image" src="{% static 'images/fish.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Fish</h4>
            </div>
            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Chicken">
                <input type="image" src="{% static 'images/fried-chicken.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Chicken</h4>
            </div>
            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Homemade">
                <input type="image" src="{% static 'images/homemade.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Homemade</h4>
            </div>

        </div>

    </div>

    <div class="col-5" style=" border-style: groove; margin-left: 30px;">

        <div class="row">

            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Cleaning">
                <input type="image" src="{% static 'images/cleaning.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Cleaning</h4>
            </div>
            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Bath">
                <input type="image" src="{% static 'images/bath.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Bath</h4>
            </div>
            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Technology">
                <input type="image" src="{% static 'images/smartwatch.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Technology</h4>
            </div>
            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Clothing">
                <input type="image" src="{% static 'images/shirt.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Clothing</h4>
            </div>
            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Drinks">
                <input type="image" src="{% static 'images/cola.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Drinks</h4>
            </div>
            <div class="col-2">
                <form method="post" action="search">
                    {% csrf_token %}
                    <input type="hidden" name="hiddenTag" value="Cereals">
                <input type="image" src="{% static 'images/cereal.png' %}" style="width: 70%; margin-bottom: -6%; margin-top: -13%; margin-left: 12%"/>
                </form>
                <h4 style="text-align: center;">Cereals</h4>
            </div>

        </div>

    </div>


</div>

<div class="row" style="margin-top: 5%; background-color: #C0C0C0;">

    <div class="col-6">
        <h3 style="margin-left: 120px; color: white;">TOP RESTAURANTS</h3>
    </div>
    <div class="col-6">

    </div>

</div>

<div class="row">
    <div class="col-12">
        <div class="row">

            <div class="col-1">
            </div>

            <div class="col-10 " style="border-style: groove;">

                <div class="row">
                    <div class="col-1">
                        <i class="fas fa-chevron-left" style="font-size: 36px; margin-top: 100%; "></i>
                    </div>
                    <div class="col-2" style="margin-left: 15px;">
                        <div class="container">
                            <img src="{% static 'images/pizzahut.png' %}" alt="Avatar" class="image">
                            <div class="overlay">
                                <div class="text" style="margin-top: -5%;">Pizzahut Bakırköy Şubesi <br><br>Min 15.00 TL
                                    <br> 30-40 dk
                                </div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <input type="button" class="w3-btn w3-red" value="Give Order"
                               style="margin-top: 10%; margin-left: 15%;">
                    </div>
                    <div class="col-2">
                        <div class="container">
                            <img src="{% static 'images/dominos.png' %}" alt="Avatar" class="image">
                            <div class="overlay">
                                <div class="text" style="margin-top: -5%;">Dominos Beşiktaş Şubesi <br><br>Min 15.00 TL
                                    <br> 30-40 dk
                                </div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <input type="button" class="w3-btn w3-red" value="Give Order"
                               style="margin-top: 10%; margin-left: 15%;">
                    </div>
                    <div class="col-2">
                        <div class="container">
                            <img src="{% static 'images/mcdonalds.png' %}" alt="Avatar" class="image">
                            <div class="overlay">
                                <div class="text" style="margin-top: -5%;">Mc Doanald's Kadıköy Şubesi <br><br>Min 15.00
                                    TL <br> 30-40 dk
                                </div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <input type="button" class="w3-btn w3-red" value="Give Order"
                               style="margin-top: 10%; margin-left: 15%;">
                    </div>
                    <div class="col-2">
                        <div class="container">
                            <img src="{% static 'images/kardesleriskender.png' %}" alt="Avatar" class="image">
                            <div class="overlay">
                                <div class="text" style="margin-top: -5%;">Kardeşler Bursa İskender <br><br>Min 20.00 TL
                                    <br> 20-30 dk
                                </div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <input type="button" class="w3-btn w3-red" value="Give Order"
                               style="margin-top: 10%; margin-left: 15%;">
                    </div>
                    <div class="col-2" style="margin-right: -15px;">
                        <div class="container">
                            <img src="{% static 'images/bodrumcafe.png' %}" alt="Avatar" class="image">
                            <div class="overlay">
                                <div class="text" style="margin-top: -5%;">Bodrum Mantı & Cafe <br><br>Min 50.00 TL <br>
                                    40-50 dk
                                </div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <input type="button" class="w3-btn w3-red" value="Give Order"
                               style="margin-top: 10%; margin-left: 15%;">
                    </div>
                    <div class="col-1">
                        <i class="fas fa-chevron-right" style="font-size: 36px; margin-top: 100%; float:right;"></i>
                    </div>
                </div>

            </div>

            <div class="col-1">

            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-12" style="border-top-style: groove;  margin-top: 5%; background-color: #717171;">
        <div class="row">
            <div class="col-2">
                <select class="w3-select w3-border" name="option">
                    <option value="1">Turkish Lira ₺</option>
                    <option value="2">Dollar $</option>
                    <option value="3">Euro €</option>
                </select>
            </div>
            <div class="col-8">
            </div>
            <div class="col-2">
                <a href="index.html" style="color: initial;">
                    <h4 style="color: white; float:right; margin-top: -3%;">HELP & CONTACT</h4></a>
                <h5 style="color: white; float: right; margin-right: 10%; margin-top: -3%;">0850-255-4040</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                <h6 style="text-align: center; margin-bottom: -20px;">© Copyright 2019 Online Ordering and Marketing
                    System Inc. All rights are reserverd.</h6></a>
            </div>
            <div class="col-2">
            </div>
        </div>

    </div>
</div>

<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/searchbar.js' %}"></script>

</body>
</html>