<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Market</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://kit.fontawesome.com/f4dcd45d8c.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>


<div class = "row">
    <div class = "col-3">
        <div class="header">
            <h1 style="font-weight: bold;margin-bottom: -5%; margin-top: -4%;">OMOS</h1>
        </div>
    </div>

    <div class = "col-7">
    </div>

    <div class = "col-2">
        <i class="fab fa-facebook" style="font-size:30px; margin-right: 5%; margin-left: 15%"></i>
        <i class="fab fa-twitter" style="font-size:30px; margin-right: 5%"></i>
        <i class="fab fa-instagram" style="font-size:30px;"></i>
    </div>

</div>

<div class="row">
    <div class="col-12">

        <div class="topnav">
            <div class="row">
                <div class="col-3">
                    <a class="active" href="index.html">Home</a>
                    <a href="#about">About</a>
                    <a href="#contact">Contact</a>
                </div>
                <div class="col-6">
                    <input type="text" placeholder="Search restaurant or market...">
                </div>
                <div class="col-3">
                    <div class="dropdown" style=" margin-left: 10%;">
                        <button class="dropbtn" style="width: 150%; ">Login</button>
                        <div class="dropdown-content">
                            <a href="myprofile.html">My Profile</a>
                            <a href="#">My Comments</a>
                            <a href="#">Our Policy</a>
                            <a href="visitorhome.html">Exit</a>
                        </div>
                    </div>
                    <a href ="chart.html" style="float: right; margin-top: -1%;">
                        <i class="fas fa-shopping-cart" style="font-size:36px; float: right;"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3 w3-container w3-card-4 w3-light-grey" style="margin-left: 1%; margin-top: 2%;">

        <div class="row" style="border-bottom-style: groove">
            <div class="col-12">
                <h5 style ="font-weight: bold;">Markets in the <br> Water category</h5>
                <h6>5 markets are found. </h6>
            </div>
        </div>

        <div class="row" style="border-bottom-style: groove">
            <div class="col-12">
                <h5 style ="font-weight: bold;">Minimum Order Price</h5>
                <div class="row">
                    <div class="col-3">
                        <input type="text" placeholder="" style="width: 100%;">
                    </div>
                    <div class="col-3">
                        <h4 style="font-weight: bold; margin: auto">-</h4>
                    </div>
                    <div class="col-3">
                        <input type="text" placeholder="" style="width: 100%; margin-left: -80%;">
                    </div>
                    <div class="col-3">
                        <i class="fas fa-arrow-circle-right" style="font-size: 20px; margin-left: -80%;"></i>
                    </div>

                    <form>
                        <div class="row">
                            <div class="col-12">
                                <p><input class="w3-radio" type="radio" name="rad1" >
                                    <label>10 - 20 (1)</label></p>
                                <p><input class="w3-radio" type="radio" name="rad2">
                                    <label>20 - 35 (2)</label></p>
                                <p><input class="w3-radio" type="radio" name="rad3">
                                    <label>50 - 70 (1)</label></p>
                                <p><input class="w3-radio" type="radio" name="rad4">
                                    <label>70 - 150 (1)</label></p>
                            </div>

                        </div>
                    </form>
                </div>


            </div>
        </div>

        <div class="row" style="border-bottom-style: groove">
            <div class="col-12">
                <h5 style ="font-weight: bold;">Name</h5>
                <form>
                    <div class="row" style="margin-top: -5%;">
                        <div class="col-12">
                            <p><input class="w3-radio" type="radio" name="rad11" >
                                <label>Carrefoursa Mini (1)</label></p>
                            <p><input class="w3-radio" type="radio" name="rad12">
                                <label>ŞOK Süpermarket (2)</label></p>
                            <p><input class="w3-radio" type="radio" name="rad13">
                                <label>BİM Süpermarket (1)</label></p>
                            <p><input class="w3-radio" type="radio" name="rad14">
                                <label>Migros 2M Süpermarket (1)</label></p>
                        </div>

                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h5 style ="font-weight: bold;">Restaurant Rating</h5>
                <form>
                    <div class="row" style="margin-top: -5%;">
                        <div class="col-12">
                            <p><input class="w3-radio" type="radio" name="rad111">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </p>
                            <p><input class="w3-radio" type="radio" name="rad112">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </p>
                            <p><input class="w3-radio" type="radio" name="rad113">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </p>
                            <p><input class="w3-radio" type="radio" name="rad114">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </p>
                            <p><input class="w3-radio" type="radio" name="rad115">
                                <i class="fas fa-star"></i>
                            </p>
                            <button class="w3-button w3-xlarge w3-red"  style="width: 30%; float: right;">Filter</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-8 w3-container w3-card-4 w3-light-grey" style="margin-left: 1%; margin-top: 2%;">
        <div class="row" style="border-bottom-style: groove;">
            <div class="col-3">
                <img src="images/carrefoursa.jpg" class="w3-border w3-padding" alt="Alps" style="height: 200px; width: 200px;">
            </div>
            <div class="col-3">
                <h4 style="font-weight: bold;">Carrefoursa Mini</h4>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"> (45) </i>
                <h5>Cengiz mah. Sevgi cad.</h5>
                <h5>Min 75.00 TL</h5>
                <h5>2 - 3 saat</h5>
            </div>
            <div class="col-6">
                <a href ="clientmarket.html">
                <button class="w3-button w3-xlarge w3-red"  style="width: 30%; float: right;">Order</button></a>
            </div>
        </div>
        <div class="row" style="border-bottom-style: groove;">
            <div class="col-3">
                <img src="images/şok.png" class="w3-border w3-padding" alt="Alps" style="height: 200px; width: 200px;">
            </div>
            <div class="col-3">
                <h4 style="font-weight: bold;">ŞOK Süpermarket</h4>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"> (207) </i>
                <h5>Merkez mah. Yayla cad.</h5>
                <h5>Min 35.00 TL</h5>
                <h5>1 - 2 saat</h5>
            </div>
            <div class="col-6">
                <button class="w3-button w3-xlarge w3-red"  style="width: 30%; float: right;">Order</button>
            </div>
        </div>
        <div class="row" style="border-bottom-style: groove;">
            <div class="col-3">
                <img src="images/migros.png" class="w3-border w3-padding" alt="Alps" style="height: 200px; width: 200px;">
            </div>
            <div class="col-3">
                <h4 style="font-weight: bold;">Migros 2M Süpermarket</h4>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"> (45) </i>
                <h5>Merkez mah. Aşağı sok.</h5>
                <h5>Min 45.00 TL</h5>
                <h5>3 - 4 saat</h5>
            </div>
            <div class="col-6">
                <button class="w3-button w3-xlarge w3-red"  style="width: 30%; float: right;">Order</button>
            </div>
        </div>
        <div class="row" style="border-bottom-style: groove;">
            <div class="col-3">
                <img src="images/şok.png" class="w3-border w3-padding" alt="Alps" style="height: 200px; width: 200px;">
            </div>
            <div class="col-3">
                <h4 style="font-weight: bold;">ŞOK Süpermarket</h4>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"> (45) </i>
                <h5>Sinanhan mah. Aşağı sok.</h5>
                <h5>Min 35.00 TL</h5>
                <h5>1 - 2 saat</h5>
            </div>
            <div class="col-6">
                <button class="w3-button w3-xlarge w3-red"  style="width: 30%; float: right;">Order</button>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="images/bim.png" class="w3-border w3-padding" alt="Alps" style="height: 200px; width: 200px;">
            </div>
            <div class="col-3">
                <h4 style="font-weight: bold;">BİM Süpermarket</h4>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"> (45) </i>
                <h5>Selim mah. Aşağı sok.</h5>
                <h5>Min 30.00 TL</h5>
                <h5>2 - 3 saat</h5>
            </div>
            <div class="col-6">
                <button class="w3-button w3-xlarge w3-red"  style="width: 30%; float: right;">Order</button>
            </div>
        </div>
    </div>

</div>

<div class ="row">
    <div class="col-12" style="border-top-style: groove;  margin-top: 5%; background-color: #717171;">
        <div class ="row">
            <div class="col-2">
                <select class="w3-select w3-border" name="option">
                    <option value="1">Turkish Lira ₺</option>
                    <option value="2">Dollar $</option>
                    <option value="3">Euro €</option>
                </select>
            </div>
            <div class="col-8">
            </div>
            <div class="col-2">
                <a href="index.html" style="color: initial;">
                    <h4 style = "color: white; float:right; margin-top: -3%;">HELP & CONTACT</h4></a>
                <h5 style = "color: white; float: right; margin-right: 10%; margin-top: -3%;">0850-255-4040</h5>
            </div>
        </div>

        <div class="row">
            <div class = "col-2">
            </div>
            <div class="col-8">
                <h6 style="text-align: center; margin-bottom: -20px;">© Copyright 2019 Online Ordering and Marketing System Inc. All rights are reserverd.</h6></a>
            </div>
            <div class="col-2">
            </div>
        </div>

    </div>
</div>

</body>
</html>