{% extends 'omosapp/base.html' %}
{% load static %}

{% block content1 %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>My Orders</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://kit.fontawesome.com/f4dcd45d8c.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}



{% block content2 %}
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-2 w3-container w3-card-4 w3-light-grey">

                    <h5 class="w3-bar-item" style="font-weight: bold;">Order Status</h5>
                    <div class="row">
                        <div class="col-12">
                            <button class="w3-bar-item w3-button tablink w3-red " onclick="openCity(event, 'Current')">
                                Current
                            </button>
                            <br>

                            <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'Past')">Past
                            </button>
                            <br>

                            <button class="w3-bar-item w3-button tablink" onclick="openCity(event, 'Cancelled')">
                                Cancelled
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-8">

                    <div id="Current" class="city w3-container w3-card-4 w3-light-grey"
                         style="display:block; margin-top: -1.25%;">
                        <h3 style="margin-bottom: 3%; font-weight: bold">CURRENT ORDERS</h3>
                        {% for currentorders in orderlistActive %}
                            <div class="row" style="border-bottom-style: groove;">
                                <div class="col-8">
                                    {% for chartitem in currentorders %}
                                        {% if forloop.first %}
                                            <div class="row">
                                                <div class="col-4">
                                                    <p style="font-weight: bold">Order:</p><p> {{ chartitem.orderNumber }}</p>
                                                </div>
                                            <div class="col-4">
                                                    <p style="font-weight: bold">Date :</p><p> {{ chartitem.order_date }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <p style="font-weight: bold">Address:</p><p> {{ chartitem.clientAddress }}</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-3">
                                                <h5>{{ chartitem.clientNameText }}</h5>
                                            </div>
                                            <div class="col-3">
                                                <h5>{{ chartitem.itemName }}</h5>
                                            </div>
                                            <div class="col-3">
                                                <input type="number" name="quantity" min="1" max="99"
                                                       value="{{ chartitem.itemCount }}"
                                                       disabled="True" style="margin-top: 5%;">
                                            </div>
                                            <div class="col-3">
                                                <h5>{{ chartitem.itemPrice }} TL</h5>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col-4">
                                    <h3 style="font-weight: bold">132.95 TL</h3>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                    <div id="Past" class="city w3-container w3-card-4 w3-light-grey"
                         style="display:none; margin-top: -1.25%;">
                        <h3 style="margin-bottom: 3%; font-weight: bold">COMPLETED ORDERS</h3>
                        {% for currentorders in orderlistCompleted %}
                            <div class="row" style="border-bottom-style: groove;">
                                <div class="col-8">
                                    {% for chartitem in currentorders %}
                                        {% if forloop.first %}
                                            <div class="row">
                                                <div class="col-4">
                                                    <p style="font-weight: bold">Order:</p><p> {{ chartitem.orderNumber }}</p>
                                                </div>
                                            <div class="col-4">
                                                    <p style="font-weight: bold">Date :</p><p> {{ chartitem.order_date }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <p style="font-weight: bold">Address:</p><p> {{ chartitem.clientAddress }}</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-3">
                                                <h5>{{ chartitem.clientNameText }}</h5>
                                            </div>
                                            <div class="col-3">
                                                <h5>{{ chartitem.itemName }}</h5>
                                            </div>
                                            <div class="col-3">
                                                <input type="number" name="quantity" min="1" max="99"
                                                       value="{{ chartitem.itemCount }}"
                                                       disabled="True" style="margin-top: 5%;">
                                            </div>
                                            <div class="col-3">
                                                <h5>{{ chartitem.itemPrice }} TL</h5>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col-4">
                                    <h3 style="font-weight: bold">132.95 TL</h3>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                    <div id="Cancelled" class="city w3-container w3-card-4 w3-light-grey"
                         style="display:none; margin-top: -1.25%;">
                        <h3 style="margin-bottom: 3%; font-weight: bold">CANCELLED ORDERS</h3>
                        {% for currentorders in orderlistCancelled %}
                            <div class="row" style="border-bottom-style: groove;">
                                <div class="col-8">
                                    {% for chartitem in currentorders %}
                                        {% if forloop.first %}
                                            <div class="row">
                                                <div class="col-4">
                                                    <p style="font-weight: bold">Order:</p><p> {{ chartitem.orderNumber }}</p>
                                                </div>
                                            <div class="col-4">
                                                    <p style="font-weight: bold">Date :</p><p> {{ chartitem.order_date }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <p style="font-weight: bold">Address:</p><p> {{ chartitem.clientAddress }}</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-3">
                                                <h5>{{ chartitem.clientNameText }}</h5>
                                            </div>
                                            <div class="col-3">
                                                <h5>{{ chartitem.itemName }}</h5>
                                            </div>
                                            <div class="col-3">
                                                <input type="number" name="quantity" min="1" max="99"
                                                       value="{{ chartitem.itemCount }}"
                                                       disabled="True" style="margin-top: 5%;">
                                            </div>
                                            <div class="col-3">
                                                <h5>{{ chartitem.itemPrice }} TL</h5>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col-4">
                                    <h3 style="font-weight: bold">132.95 TL</h3>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                </div>
                <div class="col-2">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content3 %}
    <script src="{% static 'js/myorders.js' %}"></script>
{% endblock %}

</body>
</html>