{% extends 'omosapp/base.html' %}
{% load static %}

{% block content1 %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Order</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://kit.fontawesome.com/f4dcd45d8c.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block content2 %}
    <div class="row">
        <div class="col-12 w3-container w3-card-4 w3-light-grey" style="width: 98%; margin-left: 1%;">
            {% for clientitem in client %}
                <div class="row">
                    <div class="col-2">
                        <img src="static/images/{{ clientitem.user.username }}.png" class="w3-border w3-padding"
                             alt="Alps"
                             style="height: 200px; width: 200px;">
                    </div>
                    <div class="col-2">
                        <h4>{{ clientitem.clientName }}</h4>
                        <h5 style="font-weight: bold; margin-bottom: 5%;">{{ clientitem.clientrate }}.0
                            ({{ clientitem.customerCount }})</h5>
                        <h5>Min {{ clientitem.clientMinPrice }}.00 TL</h5>
                        <h5>{{ clientitem.clientAvgTime }}</h5>
                    </div>
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <div class="row">
        <div class="col-12 w3-container w3-card-4 w3-light-grey" style="width: 98%; margin-left: 1%; margin-top: 1%;">
            <div class="row">
                <div class="col-12">

                    {% for clientcat in clientcats %}
                        <button onclick="myFunction('{{ clientcat.name }}')"
                                class="w3-btn w3-block w3-dark-grey w3-left-align">{{ clientcat.name }}
                        </button>
                        <div id="{{ clientcat.name }}" class="w3-container w3-hide">
                            {% if clientcat.item1 and clientcat.price1 %}
                                <div class="row">
                                    <form method="POST" action="chart">
                                    {% csrf_token %}
                                        <div class="col-1">
                                            {% for clientitem2 in client %}
                                            <input type="hidden" name="clientName" value="{{ clientitem2.user.username }}">
                                            {% endfor %}
                                            <input type="hidden" name="itemName" value="{{ clientcat.item1 }}">
                                            <input type="hidden" name="itemPrice" value="{{ clientcat.price1 }}">
                                            <input type="image" src="{% static 'images/plus-icon.png' %}" style="margin-top: 4%; width: 32px; height: 32px;"/>
                                        </div>
                                        <div class="col-2">
                                            <h5>{{ clientcat.item1 }}</h5>
                                        </div>
                                        <div class="col-1">
                                            <input type="number" name="itemcount" min="1" max="99" value="1"
                                                   style="margin-top: 10%; float: right;">
                                        </div>
                                        <div class="col-1">
                                            <h5 style="float: left; margin-left: -10%">piece</h5>
                                        </div>
                                        <div class="col-1">
                                        </div>
                                        <div class="col-1">
                                            <h5>{{ clientcat.price1 }} TL</h5>
                                        </div>
                                        <div class="col-5">
                                        </div>
                                    </form>
                                </div>
                            {% endif %}

                            {% if clientcat.item2 and clientcat.price2 %}
                                <div class="row">
                                    <form method="POST" action="chart">
                                    {% csrf_token %}
                                        <div class="col-1">
                                            {% for clientitem2 in client %}
                                            <input type="hidden" name="clientName" value="{{ clientitem2.user.username }}">
                                            {% endfor %}
                                            <input type="hidden" name="itemName" value="{{ clientcat.item2 }}">
                                            <input type="hidden" name="itemPrice" value="{{ clientcat.price2 }}">
                                            <input type="image" src="{% static 'images/plus-icon.png' %}" style="margin-top: 4%; width: 32px; height: 32px;"/>
                                        </div>
                                        <div class="col-2">
                                            <h5>{{ clientcat.item2 }}</h5>
                                        </div>
                                        <div class="col-1">
                                            <input type="number" name="itemcount" min="1" max="99" value="1"
                                                   style="margin-top: 10%; float: right;">
                                        </div>
                                        <div class="col-1">
                                            <h5 style="float: left; margin-left: -10%">piece</h5>
                                        </div>
                                        <div class="col-1">
                                        </div>
                                        <div class="col-1">
                                            <h5>{{ clientcat.price2 }} TL</h5>
                                        </div>
                                        <div class="col-5">
                                        </div>
                                    </form>
                                </div>
                            {% endif %}

                            {% if clientcat.item3 and clientcat.price3 %}
                                <div class="row">
                                    <form method="POST" action="chart">
                                    {% csrf_token %}
                                        <div class="col-1">
                                            {% for clientitem2 in client %}
                                            <input type="hidden" name="clientName" value="{{ clientitem2.user.username }}">
                                            {% endfor %}
                                            <input type="hidden" name="itemName" value="{{ clientcat.item3 }}">
                                            <input type="hidden" name="itemPrice" value="{{ clientcat.price3 }}">
                                            <input type="image" src="{% static 'images/plus-icon.png' %}" style="margin-top: 4%; width: 32px; height: 32px;"/>
                                        </div>
                                        <div class="col-2">
                                            <h5>{{ clientcat.item3 }}</h5>
                                        </div>
                                        <div class="col-1">
                                            <input type="number" name="itemcount" min="1" max="99" value="1"
                                                   style="margin-top: 10%; float: right;">
                                        </div>
                                        <div class="col-1">
                                            <h5 style="float: left; margin-left: -10%">piece</h5>
                                        </div>
                                        <div class="col-1">
                                        </div>
                                        <div class="col-1">
                                            <h5>{{ clientcat.price3 }} TL</h5>
                                        </div>
                                        <div class="col-5">
                                        </div>
                                    </form>
                                </div>
                            {% endif %}

                            {% if clientcat.item4 and clientcat.price4 %}
                                <div class="row">
                                    <form method="POST" action="chart">
                                    {% csrf_token %}
                                        <div class="col-1">
                                            {% for clientitem2 in client %}
                                            <input type="hidden" name="clientName" value="{{ clientitem2.user.username }}">
                                            {% endfor %}
                                            <input type="hidden" name="itemName" value="{{ clientcat.item4 }}">
                                            <input type="hidden" name="itemPrice" value="{{ clientcat.price4 }}">
                                            <input type="image" src="{% static 'images/plus-icon.png' %}" style="margin-top: 4%; width: 32px; height: 32px;"/>
                                        </div>
                                        <div class="col-2">
                                            <h5>{{ clientcat.item4 }}</h5>
                                        </div>
                                        <div class="col-1">
                                            <input type="number" name="itemcount" min="1" max="99" value="1"
                                                   style="margin-top: 10%; float: right;">
                                        </div>
                                        <div class="col-1">
                                            <h5 style="float: left; margin-left: -10%">piece</h5>
                                        </div>
                                        <div class="col-1">
                                        </div>
                                        <div class="col-1">
                                            <h5>{{ clientcat.price4 }} TL</h5>
                                        </div>
                                        <div class="col-5">
                                        </div>
                                    </form>
                                </div>
                            {% endif %}

                            {% if clientcat.item5 and clientcat.price5 %}
                                <div class="row">
                                    <form method="POST" action="chart">
                                    {% csrf_token %}
                                        <div class="col-1">
                                            {% for clientitem2 in client %}
                                            <input type="hidden" name="clientName" value="{{ clientitem2.user.username }}">
                                            {% endfor %}
                                            <input type="hidden" name="itemName" value="{{ clientcat.item5 }}">
                                            <input type="hidden" name="itemPrice" value="{{ clientcat.price5 }}">
                                            <input type="image" src="{% static 'images/plus-icon.png' %}" style="margin-top: 4%; width: 32px; height: 32px;"/>
                                        </div>
                                        <div class="col-2">
                                            <h5>{{ clientcat.item5 }}</h5>
                                        </div>
                                        <div class="col-1">
                                            <input type="number" name="itemcount" min="1" max="99" value="1"
                                                   style="margin-top: 10%; float: right;">
                                        </div>
                                        <div class="col-1">
                                            <h5 style="float: left; margin-left: -10%">piece</h5>
                                        </div>
                                        <div class="col-1">
                                        </div>
                                        <div class="col-1">
                                            <h5>{{ clientcat.price5 }} TL</h5>
                                        </div>
                                        <div class="col-5">
                                        </div>
                                    </form>
                                </div>
                            {% endif %}

                            {% if clientcat.item6 and clientcat.price6 %}
                                <div class="row">
                                    <form method="POST" action="chart">
                                    {% csrf_token %}
                                        <div class="col-1">
                                            {% for clientitem2 in client %}
                                            <input type="hidden" name="clientName" value="{{ clientitem2.user.username }}">
                                            {% endfor %}
                                            <input type="hidden" name="itemName" value="{{ clientcat.item6 }}">
                                            <input type="hidden" name="itemPrice" value="{{ clientcat.price6 }}">
                                            <input type="image" src="{% static 'images/plus-icon.png' %}" style="margin-top: 4%; width: 32px; height: 32px;"/>
                                        </div>
                                        <div class="col-2">
                                            <h5>{{ clientcat.item6 }}</h5>
                                        </div>
                                        <div class="col-1">
                                            <input type="number" name="itemcount" min="1" max="99" value="1"
                                                   style="margin-top: 10%; float: right;">
                                        </div>
                                        <div class="col-1">
                                            <h5 style="float: left; margin-left: -10%">piece</h5>
                                        </div>
                                        <div class="col-1">
                                        </div>
                                        <div class="col-1">
                                            <h5>{{ clientcat.price6 }} TL</h5>
                                        </div>
                                        <div class="col-5">
                                        </div>
                                    </form>
                                </div>
                            {% endif %}

                            {% if clientcat.item7 and clientcat.price7 %}
                                <div class="row">
                                    <form method="POST" action="chart">
                                    {% csrf_token %}
                                        <div class="col-1">
                                            {% for clientitem2 in client %}
                                            <input type="hidden" name="clientName" value="{{ clientitem2.user.username }}">
                                            {% endfor %}
                                            <input type="hidden" name="itemName" value="{{ clientcat.item7 }}">
                                            <input type="hidden" name="itemPrice" value="{{ clientcat.price7 }}">
                                            <input type="image" src="{% static 'images/plus-icon.png' %}" style="margin-top: 4%; width: 32px; height: 32px;"/>
                                        </div>
                                        <div class="col-2">
                                            <h5>{{ clientcat.item7 }}</h5>
                                        </div>
                                        <div class="col-1">
                                            <input type="number" name="itemcount" min="1" max="99" value="1"
                                                   style="margin-top: 10%; float: right;">
                                        </div>
                                        <div class="col-1">
                                            <h5 style="float: left; margin-left: -10%">piece</h5>
                                        </div>
                                        <div class="col-1">
                                        </div>
                                        <div class="col-1">
                                            <h5>{{ clientcat.price7 }} TL</h5>
                                        </div>
                                        <div class="col-5">
                                        </div>
                                    </form>
                                </div>
                            {% endif %}

                            {% if clientcat.item8 and clientcat.price8 %}
                                <div class="row">
                                    <form method="POST" action="chart">
                                    {% csrf_token %}
                                        <div class="col-1">
                                            {% for clientitem2 in client %}
                                            <input type="hidden" name="clientName" value="{{ clientitem2.user.username }}">
                                            {% endfor %}
                                            <input type="hidden" name="itemName" value="{{ clientcat.item8 }}">
                                            <input type="hidden" name="itemPrice" value="{{ clientcat.price8 }}">
                                            <input type="image" src="{% static 'images/plus-icon.png' %}" style="margin-top: 4%; width: 32px; height: 32px;"/>
                                        </div>
                                        <div class="col-2">
                                            <h5>{{ clientcat.item8 }}</h5>
                                        </div>
                                        <div class="col-1">
                                            <input type="number" name="itemcount" min="1" max="99" value="1"
                                                   style="margin-top: 10%; float: right;">
                                        </div>
                                        <div class="col-1">
                                            <h5 style="float: left; margin-left: -10%">piece</h5>
                                        </div>
                                        <div class="col-1">
                                        </div>
                                        <div class="col-1">
                                            <h5>{{ clientcat.price8 }} TL</h5>
                                        </div>
                                        <div class="col-5">
                                        </div>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-1">

                    </div>
                    <div class="col-1">

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content3 %}
    <script src="{% static 'js/clientrestaurant.js' %}"></script>
{% endblock %}

</body>
</html>