{% extends 'omosapp/base.html' %}
{% load static %}

{% block content1 %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://kit.fontawesome.com/f4dcd45d8c.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}


{% block content2 %}
<div class="row">
    <div class="col-3 w3-container w3-card-4 w3-light-grey" style="margin-left: 1%; margin-top: 2%;">

        <div class="row" style="border-bottom-style: groove">
            <div class="col-12">
                <h5 style="font-weight: bold;">Restaurants & Markets</h5>
                <h6>{{ restaurantcount }} restaurants and {{ marketcount }} markets are found. </h6>
            </div>
        </div>

        <div class="row" style="border-bottom-style: groove">
            <div class="col-12">
                <h5 style="font-weight: bold;">Minimum Order Price</h5>
                <div class="row">
                    <div class="col-12">
                        {% for distinctprice in distinctprices %}
                            <p><input type="checkbox" name="clientname"
                                      value="{{ distinctprice.clientMinPrice }}"> {{ distinctprice.clientMinPrice }}.00 TL</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="border-bottom-style: groove">
            <div class="col-12">
                <h5 style="font-weight: bold;">Name</h5>
                <form>
                    <div class="row" style="margin-top: -5%;">
                        <div class="col-12">
                            {% for client in clients %}
                                <p><input type="checkbox" name="clientname"
                                          value="{{ client.clientName }}"> {{ client.clientName }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h5 style="font-weight: bold;">Client Rate</h5>
                <form>
                    <div class="row" style="margin-top: -5%;">
                        <div class="col-12">
                            {% for distinctrate in distinctrates %}
                                <p><input type="checkbox" name="clientrate"
                                          value="{{ distinctrate.clientrate }}"> {{ distinctrate.clientrate }}.0</p>
                            {% endfor %}
                            <button class="w3-button w3-xlarge w3-red" style="width: 30%; float: right;">Filter</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-8 w3-container w3-card-4 w3-light-grey" style="margin-left: 1%; margin-top: 2%;">
        {% for client in clients %}
            <div class="row" style="border-bottom-style: groove;">
                <div class="col-3">
                    <img src="static/images/{{ client.user.username }}.png" class="w3-border w3-padding" alt="Alps"
                         style="height: 200px; width: 200px;">
                </div>
                <div class="col-3">
                    <h4 style="font-weight: bold;">
                        {{ client.clientName }}
                    </h4>
                    <h5>{{ client.clientType }}</h5>
                    <h5 style="font-weight: bold;">{{ client.clientrate }}.0 ({{ client.customerCount }})</h5>
                    <h5>{{ client.address }}</h5>
                    <h5>{{ client.clientMinPrice }}.00 TL</h5>
                    <h5>{{ client.clientAvgTime }}</h5>
                </div>
                <div class="col-6">
                        <form method="POST" action ="order">
                            {% csrf_token %}
                            <input type="hidden" name="clientusername" value="{{ client.user.username }}">
                        <button class="w3-button w3-xlarge w3-red" type="submit" style="width: 30%; float: right;">Order</button>
                        </form>
                </div>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}


{% block content3 %}
{% endblock %}

</body>
</html>